# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store

# Logs
logs/
*.log

# Spark data lake
spark/data/

# Spark checkpoints
spark/checkpoints/

# Airflow
airflow/logs/

# dbt
dbt/target/
dbt/dbt_packages/

# PostgreSQL data
postgres/data/